<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        var JsonStr = '{"a": "Hello", "b": "World"}';
        var JSObj = JSON.parse(JsonStr);
        console.log('JSObj:', JSObj);

        var JSObj1 = { a: 'Hello', b: 'World' };
        var JsonStr1 = JSON.stringify(JSObj1);
        console.log('JsonStr1:', JsonStr1);
    </script>
</body>
</html>